top-navbar {
  ion-menu {
    z-index: 10;
    background: rgba(255,255,255,0.8);

    ion-toolbar {
      .toolbar-title {
        color: $second-text-color;
      }
    }

    scroll-content {
      background-color: rgba(255,255,255,0.6);

      button.item {
        background-color: white;
        color: $second-text-color;
        font-weight: bold;
      }
    }
  }
}
